<div class="down">
    <h1>All Courses</h1>
    {{#each courses}}
    <h3>{{title}}</h3>
    <ul>
        <li>Category: {{category}}</li>
        <li>Description: {{desciption}}</li>
        <li>Image URL: {{img}}</li>
        <li>Status: {{status}}</li>
    </ul>
    {{/each}}
</div>